[submodule "src/third_party/v8"]
	path = src/third_party/v8
	url = git://github.com/v8/v8.git
[submodule "src/third_party/jansson"]
	path = src/third_party/jansson
	url = https://github.com/akheron/jansson.git
[submodule "src/third_party/berikelium"]
	path = src/third_party/berikelium
	url = https://github.com/sirikata/berkelium.git
[submodule "src/third_party/luaproxy"]
	path = src/third_party/luaproxy
	url = git@github.com:graphox-us/luaproxy.git
[submodule "src/third_party/lua_dbus"]
	path = src/third_party/lua_dbus
	url = git://git.code.sf.net/p/ldbus/code
